/* ===============================================
================== 1MIN WEBSITE ==================
==================================================*/

/*custom font for website text*/
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 100;
	src: local('Lato Light'), local('Lato-Light'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/KT3KS9Aol4WfR6Vas8kNcg.woff) format('woff');
}

.lato{
	font-family: "lato", "Segoe UI Light", helvetica, arial;
}

@font-face {
    font-family: 'ColaborateLightRegular';
    src: url('ColabLig-webfont.eot');
    src: url('ColabLig-webfont.eot?#iefix') format('embedded-opentype'),
         url('ColabLig-webfont.woff') format('woff'),
         url('ColabLig-webfont.ttf') format('truetype'),
         url('ColabLig-webfont.svg#ColaborateLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: "lato", "Segoe UI Light", helvetica, arial;
	margin:0;
	color:#222;
	background-color:#FAFAFA;
}

h1,h2,h3,h4,h5,h6 {
	font-family: "lato", "Segoe UI Light", helvetica, arial;
	margin:0;
	font-weight:normal;
	padding:0;
}

p, li{
	font-family: "ColaborateLightRegular", "Segoe UI Light", helvetica, arial;
}

/* Safari */
::selection {background: #c4c4c4; }
/* Firefox */
::-moz-selection {background: #c4c4c4;}

a {
   outline: 0;
}

a:link {
	color:#E86666;
	text-decoration:none;
}/* unvisited link */
a:hover {text-decoration:none;}
a:visited {color:#E86666;}  /* visited link */
a:active {color:#E3E3E3;}  /* selected link */

/* ==============================================================
===================== SCROLLBAR STUFFS ==========================
================================================================*/

::-webkit-scrollbar {
width:5px;
height:5px;
}

::-webkit-scrollbar-track-piece  {
background-color:#222;
}

::-webkit-scrollbar-thumb {
background-color:#E86666;
}

/* ===============================================
=============== RESPONSIVE WEBSITEZ ==============
==================================================*/

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 250px) {
	html {
		font-size:.65em
	}
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
	html {
		font-size:.55em
	}
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
	html {
		font-size:1em;
	}
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	html {
		font-size:1em;
	}
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
	html {
		font-size:1em;
	}
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
	html {
		font-size:1em;
	}
}