/* ===============================================
================== 1MIN WEBSITE ==================
==================================================*/

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* ===============================================
================== NAV BUBBLE ====================
==================================================*/

#regular_navbar {
	position:fixed;
	top:0;
	background-color:#222;
	width:100%;
	z-index:999;
	text-align:center;
}

#regular_navbar_wrapper {
	display:block;
	margin:auto;
}

.reg_navbar_text {
	display:inline-block;
	padding:15px;
	color:#FFF !important;
}

.reg_navbar_text:hover {
	color:#E86666 !important;
}

#vertical_navbar {
	position:absolute;
	top:15%;
	left:50%;
	width:5px;
	height:80%;
	z-index:998;
	font-size:1.25em;
}

#vertical_navbar_background {
	display:none;
	width:10%;
	right:0%;
	position:fixed;
	height:100%;
	background-color:#222;
	z-index:997;
}

.img_bubble {
	background-color:#E86666;
	position:relative;
	z-index:998;
	height:20%;
	width:100%;
	cursor:pointer;
}

.img_bubble_text {
	z-index:998;
	color:#FFF !important;
	transform: rotate(30deg);
	    -webkit-transform: rotate(30deg);
		-moz-transform: rotate(30deg);
		-o-transform: rotate(30deg);
		-ms-transform: rotate(30deg);
	position:absolute;
	transform-origin:center left;
	margin-left:25px;
		-moz-transition: color .5s ease-in-out;
		-ms-transition: color .5s ease-in-out;
		-o-transition: color .5s ease-in-out;
		-webkit-transition: color .5s ease-in-out;
	transition: color .5s ease-in-out;
}

.img_bubble_text:hover {
	color:#E86666 !important;
}

#face_img_bubble {
	cursor:pointer;
	width:75px;
}

#face_img_bubble:hover {
	margin-left:0% !important;
}

#face_img_bubble:hover #triangle_1min{
	background-color:#FFF;
}

#triangle_1min {
	width:5px;
	background-color:#E86666;
	transform:rotate(-135deg);
	transform-origin:bottom;
		-moz-transition: background-color .5s ease-in-out;
		-ms-transition: background-color .5s ease-in-out;
		-o-transition: background-color .5s ease-in-out;
		-webkit-transition: background-color .5s ease-in-out;
	transition: background-color .5s ease-in-out;
}

#box_1min {
	z-index:999;
	height:10%;
	width:100%;
	background-color:#E86666;
}

#bottom_1min {
	height:5px;
	background-color:#E86666;
	position:absolute;
	bottom:0;
	z-index:997;
}

/* ===============================================
======================= COVER ====================
==================================================*/

#cover {
	cursor:default;
}

#cover_image {
	width:100%;
	background: url("../images/top.jpg") no-repeat left center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
	background-size: cover;
}

.cover_content {
	display:inline-block;
	color:#FFF;
	width:100%;
}

#cover_wrapper {
	top:45%;
	width:48%;
	position:relative;
	text-align:right;
}

#cover_name {
	font-size:2.5em;
}

#cover_1min {
	color:#E86666;
	cursor:pointer;
}

#cover_pronounce {
	display:none;
	padding:10px;
	border-radius:5px;
	border:1px #FFF solid;
	color:#FFF;
	position:absolute;
	z-index:999;
	background-color:rgba(34,34,34, .7);
}

#cover_message {
	font-size:2em;
	vertical-align:bottom;
	bottom:0;
}

/* ===============================================
======================= GENERAL ====================
==================================================*/

.top_wrapper {
	width:100%;
	height:500px;
	position:relative;
}

.background_images {
	height:100%;
}

.top_description {
	position:absolute;
	top:50%;
	right:10%;
	margin:-16px 50px 0 0;
	color:#FFF;
	font-size:2em;
}

.content_wrapper {
	overflow:hidden;
}

/* ===============================================
======================= WORK =====================
==================================================*/

#work_img {
	background: url("../images/work.jpg") no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
	background-size: cover;
	background-position: 40% 78%;
}

#work_content {
		background: -webkit-linear-gradient(#222, #bad0e5); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(#222, #bad0e5); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(#222, #bad0e5); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#222, #bad0e5); /* Standard syntax */
}

.works_wrapper {
	color:#FFF;
	position:relative;
	display:block;
	height:200px;
	width:100%;
	white-space:nowrap;
}

.works_wrapper:hover .works_text_wrapper {
	background-color:rgba(34,34,34,0.9);
}

.works_left_wrapper {
	display:inline-block;
	height:100%;
	position:relative;
	width:50%;
}

.works_left_wrapper img {
	display:block;
	right:0;
	position:absolute;
	width:175%;
	min-height:100%;
}

.works_right_wrapper {
	display:inline-block;
	height:100%;
	vertical-align:top;
}

.work_arrow {
	background-image:url("../images/works/arrow.png");
	height:10px;
	width:10px;
	margin-top:95px;
	display:inline-block;
}

.works_text_wrapper {
	display:inline-block;
	border:5px solid #E86666;
	background-color:rgba(34,34,34,1);
}

.work_title {
	padding:15px;
	display:inline-block;
}

.work_time {
	padding:15px;
	float:right;
}

.works_description{
	padding:15px;
	font-size:1em;
}

/* ===============================================
======================= WHO ======================
==================================================*/

#who_img {
	background: url("../images/who.jpg") no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
	background-size: cover;
	background-position: 25% 50%;
}

#attributes {
	margin: 5% 0 10% 0;
}

#who_content_wrapper {
	display:block;
	padding:0 0 10% 0;
}

#who_content {
	text-align:center;
}

.attribute_box {
	text-align:center;
	display:inline-block;
	vertical-align:top;
	width:300px;
	margin:50px 25px 0 25px;
}

.attribute_icon {
	width:64px;
	margin:auto;
	margin-bottom:5%;
}

.attribute-text {
	list-style-type: none;
}

.big {
	margin:2% 0 2% 0;
	font-weight:bold;
}

.small {
}

.fullresume_wrapper {
	margin-top:50px;
	text-align:center;
}

.fullresume_button{
	min-width:200px;
	display:inline-block;
	font-size:1.5em;
	padding:10px;
	color:#FFF;
	border-radius:5px;
	background-color:rgba(232,102,102,1);
	box-shadow: 3px 3px 3px #D9D9D9;
	margin:auto;
	margin:2%;
}

.fullresume_button:hover {
	background-color:rgba(232,102,102,0.9);
}

/* ===============================================
======================= STORY ====================
==================================================*/

#story_section{
	background-color:black;
}

#story_bottom_wrapper {
	height:600px;
	position:relative;
}

#story_content_wrapper{
	font-size:0;
	height:100%;
	overflow-x:scroll;
	overflow-y:hidden;
	white-space:nowrap;
	background-color:#FFF;
	position:relative;
}

#story_content_wrapper::-webkit-scrollbar {

}

#story_img {
	background: url("../images/story.jpg") no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
	background-size: cover;
	background-position: center 70%;
}

.story_arrow_wrapper {
	height:100%;
	background-color:#222;
	z-index:1000;
	position:absolute;
}

#story_arrow_wrapper_left {
	left:0
}

#story_arrow_wrapper_right {
	right:10%;
	top:0;
}

.story_scroll_arrow {
	width:48px;
	height:48px;
	z-index:999;
	margin-top:275px;
	cursor:pointer;
	opacity:1;
	border:5px solid #222;
}

.story_scroll_arrow:hover {
	opacity:0.5;
}

#story_scroll_left {
	background-image:url("../images/stories/story_arrow.png");
		-moz-transform: scale(-1, 1);
		-webkit-transform: scale(-1, 1);
		-o-transform: scale(-1, 1);
		-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}

#story_scroll_right {
	background-image:url("../images/stories/story_arrow.png");
}

.story_wrapper {
	white-space:normal;
	font-size:medium;
	width:300px;
	height:100%;
	display:inline-block;
	position:relative;
	color:#FFF;
	cursor:pointer;
	opacity:1;
}

.story_wrapper:hover{
	opacity:0.9;
}

.story_cover {
	height:100%;
	position:absolute;
	height:100%;
	width:100%;
}

.story_top_wrapper {
	position:absolute;
	height:30%;
	text-align:center;
	width:100%;
	background-color:rgba(34,34,34,0.5);
}

.story_title {
	margin:auto;
	display:block;
	height:50%;
	margin:15px;
}

.story_subtitle {
	margin:auto;
	height:50%;
	display:block;
}

.story_bottom_wrapper {
	height:70%;
	width:100%;
	position:absolute;
	top:25%;
	text-align:center;
}

.story_description {
	margin:auto;
	height:50%;
}

.story_tag_wrapper {
	margin:auto;
	white-space:initial;
}

.story_tag {
	display:inline-block;
	padding:10px;
	margin:5px;
	background-color:rgba(34,34,34,0.8);
}

#story1_img{background-image:url('../images/stories/story1.jpg');}
#story2_img{background-image:url('../images/stories/story2.jpg');}
#story3_img{background-image:url('../images/stories/story3.jpg');}
#story4_img{background-image:url('../images/stories/story4.jpg');}
#story5_img{background-image:url('../images/stories/story5.jpg');}
#story6_img{background-image:url('../images/stories/story6.jpg');}
#story7_img{background-image:url('../images/stories/story7.jpg');}

/* ===============================================
======================= CONTACT ==================
==================================================*/

#contact_section {
	min-height:1000px;
	background: url("../images/contact.jpg") no-repeat center bottom;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
	background-size: cover;
}

.content-box {
	text-align: center;
	margin-top:5%;
}

.contact_box{
	opacity:1;
	padding:25px;
	margin-top:20px;
	vertical-align:top;
	text-align:center;
	display:inline-block;
}

.contact_box:hover{
	opacity:0.9;
}

.link_box {
	box-shadow: 3px 3px 3px #D9D9D9;
	border-radius:5px;
	width:64px;
}

#email_attribute{
	background-color:#E86666;
}
#linkedin_attribute{
	background-color:#0e76a8;
}
#github_attribute{
	background-color:#333333;
}
#facebook_attribute{
	background-color:#3b5998;
}
#blogger_attribute{
	background-color:#f57d00;
}
#google_attribute{
	background-color:#dd4b39;
}
#youtube_attribute{
	background-color:#c4302b;
}
#twitter_attribute{
	background-color:#4099FF;
}
