
/* =====================================================
===================== GAME OF BALLS ====================
======================================================*/

#game {
margin-top:50px;
}

#restart {
display:block;
margin:auto;
}